// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Typography
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');

// Custom
@import 'custom';

$font-size-base: 0.9rem;
$line-height-base: 1.6;

body {
    font-family: 'Reem Kufi', sans-serif;
}

@media only screen and (min-width : 1200px) {
    .container {
        max-width: 1500px;
    }
}
