.ml-neg-1 {
    margin-left: -140px
}

.ml-neg-2 {
    margin-left: -155px
}

.mt-neg-2 {
    margin-top: -155px
}

.mb-neg-3 {
    margin-bottom: -250px
}

.img-cover {
    object-fit: cover
}

.border-5 {
    border-width: 5px !important
}

.opacity-25 {
    opacity: .25
}

.bg-black-transparent {
    background: rgba(0, 0, 0, .75);
}

.bg-black-transparent-50 {
    background: rgba(0, 0, 0, .50);
}

.bg-black-transparent-60 {
    background: rgba(0, 0, 0, .60);
}

.bg-macao-dark-red-transparent {
    background: rgba(166, 10, 18, .75);
}

.animated {
    animation-delay: 1s;
}

.form {
    margin: 0;
}

.circle-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    clip-path: circle(100% at 100% 0%);
    // backdrop-filter: blur(12px);
}

.btn-pill {
    @extend .btn;
    @extend .rounded-pill;
    @extend .my-2;
    @extend .mx-auto;
    @extend .py-2;
    @extend .px-4;
}

.btn-pill-long {
    @extend .btn;
    @extend .rounded-pill;
    @extend .my-2;
    @extend .mx-auto;
    @extend .py-2;
    @extend .px-4;
    @extend .w-75;
}

.columns-2 {
    @include media-breakpoint-only(xl) {
        column-count: 2;
    }

    @include media-breakpoint-only(lg) {
        column-count: 2;
    }

    @include media-breakpoint-only(md) {
        column-count: 2;
    }

    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
}

.scroll-top {
    display: inline-block;
    background-color: #333;
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0.5;
    visibility: hidden;
    z-index: 1000;
}

.scroll-top::after {
    line-height: 24px;
    color: #fff;
}

.scroll-top:hover {
    cursor: pointer;
    background-color: #222;
}

.scroll-top:active {
    background-color: #555;
}

.scroll-top.show {
    opacity: 1;
    visibility: visible;
}

.table {
    td {
        vertical-align: middle;
        word-wrap: break-word;
    }
}

#header {
    min-height: 20vh;
    background-image: url('/../images/cover_temp.jpg'); // TO-DO: Replace with actual cover img
    background-size: cover;
    background-position: center 90%;
    opacity: 0.75;
}

body {
    background-image: url('/../images/space_bg_temp.jpg'); // TO-DO: Replace with actual space bg img
    background-size: cover;
    background-position: center 90%;
}
